/* Estilos para o cabeçalho */
  html body {
    font-size: 2vw;
    line-height: 1.6;
    background-image: url("https://images4.alphacoders.com/948/948585.png");
    background-color: #333;
    background-size: 120%;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    background-attachment: fixed;
    margin:0px;
}

  h1 {
    margin: 0;
  }
  
  nav ul  {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav li a {
    color: #fff;
    text-decoration: none;
  }

  .logo {
    width: 100px;
    font-size: large;
}


  /* Estilos para o conteúdo principal */
  main {
    justify-content: end;
    max-width: 90%;
    height: fit-content;
    padding-right: 50px;
    padding-top: 100px;
  }

  .descricao {
    display: flex;
    margin-right: 50%;
    max-width: 100%;
    height: fit-content;
    bottom: 500px;
  }

  
  h2 {
    margin-top: 0;
  }
  
  p {
    line-height: 1.5;
  }

  .texto {
    color: white;
    display: block;
    width: min(23.4375vw,450px);
    font-family: "Noto Sans JP",sans-serif;
    font-size: 3.5vh;
    text-shadow: 0 0 20px rgba(0,0,0,.5), 0 0 20px rgba(0,0,0,.5), 0 0 20px rgba(0,0,0,.5), 0 0 20px rgba(0,0,0,.5);
  }