
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}


.imagem {
  margin-right: 10px;
  width: 100%;
	height: 100vh;
	object-fit: cover;
	animation: mudarImagem 0.7s;
}

.informacoes .logo {
	max-width: 350px;
	margin-bottom: 80px;
}

.informacoes .descricao {
	width: 49%;
	font-size: 24px;
	line-height: 30px;
}

.botoes {
	display: flex;
	justify-content: center;
	gap: 20px;
  width: 100%;
  height: 30%;
  border: 1px solid white;
}

#characters-box {
  position: absolute;
  top: min(25.3125vw,486px);
  right: 50%;
  width: min(86.9791666667vw,1670px);
  transform: translateX(50%);
}

#characters-box ul {
  list-style: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

#characters-box ul li {
  display: flex;
  justify-content: center;
  width: min(8.3333333333vw, 160px);
  margin: 0 0 min(1.5625vw, 30px) min(10.4166666667vw,200px);
}

#characters-box ul li a {
  text-decoration: none;
  background-color: gray;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%;
  display: block;
  flex-shrink: 0;
  width: min(29.9479166667vw,575px);
  height: min(32.5520833333vw,625px);
  clip-path: polygon(min(12.2395833333vw, 235px) 0, min(29.9479166667vw, 575px) 0, min(17.7083333333vw, 340px) min(32.5520833333vw, 625px), 0 min(32.5520833333vw, 625px));
  transition: background .3s;
  filter: saturate(0%);
}

#characters-box ul li a:hover {
  cursor: pointer;
  background-size: 110%;
  transition: 0.3s;
  filter: saturate(100%);
}

#NeroColor a:hover{
  background-color: rgba(3, 87, 243, 0.5);
}

#DanteColor a:hover{
  background-color: rgba(241, 10, 49, 0.5);
}

#VColor a:hover{
  background-color: rgba(10, 24, 8, 0);
}

#VergilColor a:hover{
  background-color: rgb(13, 250, 250);
}

#characters-box ul a span {
  color: white;
  display: none;
  position: absolute;
  bottom: min(1.3020833333vw,25px);
  width: min(20.8333333333vw,400px);
  font-family: "Oswald", sans-serif;
  font-size: min(3.5416666667vw,68px);
  font-weight: 700;
  text-align: center;
}