@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Estilo geral da página */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Estilo do header */
header {
  background-color: #1c1c1c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 50px;
}

#vStory {
    margin-bottom: 5%;
}

#VBG {
    background-image: url('https://s2.glbimg.com/X7irE8zIcmn7sMhJRpb5_sYcsyA=/smart/e.glbimg.com/og/ed/f/original/2019/03/05/devil_may_cry_5_v.jpg');
}